// colors
@import "./variables";
.gold-color {
    color: $gold-color;
}

.focus-gold-outline {
    &:focus-visible {
        border: 1px solid $gold-color;
    }
}
// blurs
.blur-10 {
    backdrop-filter: blur(10px);
}

.blur-15 {
    backdrop-filter: blur(15px);
}

.blur-20 {
    backdrop-filter: blur(20px);
}

// rgba backgrounds
.dark-bg-2 {
    background: rgba(0,0,0,0.2);
}

.eth-value {
    .value {
        font-size: 1.75rem;
        color: $gold-color;
        padding-right: 0.5rem;
    }
    .curr-ext {
        color: $ash-gold;
        font-size: 0.9rem;
    }
}